@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container {
    width: calc(100% - 200px);
    margin: 0 auto;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    font-family: 'Open Sans';
}

nav ul li {
    margin-right: 20px;
    color: #242243;
}

.nav-right a,
.button {
    padding: 12px 24px;
}

.nav-right a {
    color: #09B451;
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: bolder;
}

.button {
    background-color: #09B451;
    border: none;
    border-radius: 5px;
    color: #fff;
}

main {
    display: flex;
    border-radius: 50px;
    background-image: linear-gradient(to right, #e4ffff,  #fff, #fff);
    margin-top: 30px;
    box-shadow: inset -100px 0 0 #e4ffff;
    font-family: "Poppins";
}

main .left b {
    margin-bottom: 40px;
    font-size: 3rem;
    display: inline-block;
}

main .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

main .left span {
    color: #09B451;
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin: 60px 0;
}

.info-item {
    display: flex;
    background-color: #ddffff;
    padding: 10px 15px;
    border-radius: 5px;
}

.info-item .ikon {
    background-color: #09B451;
    color: #fff;
    padding: 10px 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.text {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin-top: 90px;
}

.text b {
    font-family: "Poppins";
    font-size: 2rem;
    color: #333;
}

.img {
    margin-top: 30px;
}

.img img {
    width: 100%;
    height: auto;
}

.cards {
    margin: 50px 0;
    font-family: 'Poppins';
}

.cards .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.card {
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(128 128 128 / 28%);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: inherit;
}

.card .detail {
    padding: 15px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top p {
    max-width: 230px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
    color: #333;
}

.top .ikon i,
.bottom .week i {
    color: #09B451;
}

.bottom .week p {
    display: inline-block;
    margin-right: 10px;
}

.week {
    color: #333;
}

.bottom .prise {
    color: #09B451;
    font-size: 22px;
    font-weight: bolder;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px 30px;
}

.education {
    font-family: "Poppins";
}

h1 {
    font-family: 'Poppins';
    font-size: 2em;
    font-weight: bold;
}

.education-main {
    margin: 30px 0;
    display: flex;
    align-items: center;
    padding: 30px;
}

.edu-left {
    border-top-left-radius: 0px;
    border-top-right-radius: 29px;
    border-bottom-right-radius: 78px;
    border-bottom-left-radius: 29px;
}

.edu-right {
    padding: 28px 0;
}

.edu-right b {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.edu-right ul {
    list-style: none;
    padding-left: 0;
}

.edu-right ul li i {
    margin: 10px 20px 0 0;
    background-color: #DDFFFF;
    color: #09B451;
    padding: 20px;
    border-radius: 50%;
}


.slayder {
    margin: 50px 0;
}

.slayder h1 {
    font-family: 'Poppins';
    text-align: center;
}

.slayder .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.slayder .item {
    width: 30%;
    padding: 60px 0px 60px 60px;
}

.item:nth-child(3) {
    width: 25%;
}

.item .pic {
    display: flex;
    ;
    align-items: center;
}

.item .pic img {
    margin-right: 20px;
}

.pic p {
    margin-bottom: 0;
}

.item1 {
    width: 30%;
    padding: 40px 10px 30px 0;
}

.item1 b {
    font-size: 40px;
    line-height: 50px;
    /* text-transform: capitalize; */
    color: #000000;
    margin-bottom: 40px;
    display: inline-block;
}

.item>p {
    color: #333333;
    /* font-size: 14px; */
}

.green {
    color: #09B451;
}


.box {
    padding: 50px 0;
}

.box-prevs {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.prev {
    padding: 30px 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    color: #333;
}

.prev img {
    margin-bottom: 15px;
}

.prev p {
    margin-top: 30px;
    text-align: center;
}


.call {
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(./images/image\ 10.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.call-img {
    position: absolute;
    left: 98px;
    top: -60px;
}

.call-text {
    width: 50%;
    color: #fff;
    padding: 40px 50px;
    box-sizing: border-box;
}

.call-text p {
    font-family: "Poppins";
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 90px;
}

.call-text h1 {
    font-family: "Poppins";
    font-size: 40px;
    line-height: 57px;
    text-transform: capitalize;
}

.call-text .btn {
    margin-left: 20px;
    color: #09B451;
    padding: 10px 20px;
    border-radius: 5px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 120px 10px 52px 100px;
}

footer .footer {
    display: flex;
    align-items: flex-start;
}

.footer .social p {
    font-family: 'Poppins';
    max-width: 230px;
    margin-bottom: 30px;
}

.social p:nth-child(1) {
    font-weight: 600;
    font-size: 32.8px;
    line-height: 40px;
    margin-top: 10px;
}

.social i {
    color: rgba(10, 199, 90, 0.8);
    margin-right: 15px;
}


.footer ul {
    list-style: none;
    margin-left: 50px;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
}

.footer-bottom {
 margin-top: 50px;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-bottom p {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 0;
}

form input {
    border: none;
    padding: 0 20px;
    background-color: #fff;
}

form button {
    padding: 12px 20px;
    border: none;
    background-color: rgba(10, 199, 90, 0.8);
    color: #fff;
}

::placeholder {
    color: #3bd27b;
}